
<!---------------------->
<!--Test Standard Form-->
<!---------------------->
<section>
<body>
    <div id="container">
        <div id="main">
            <form>
            <h1>Test Standard information</h1> <br>
            <input type="text" name="testStandName" placeholder="Test Standard Name" required><br>
            <input type="text" name="testStandDesc" placeholder="Description" required><br>
            <input type="text" name="testStandPubDate" placeholder="Publish Date" required><br>
            <input type="submit" value="Submit">
        </form>

        </div>
    </div>
</body>
</section>
