
<!---------------->
<!--Client Form-->
<!---------------->
<section>
<body>
    <div id="container">
        <div id="main">
            <form>
            <h1>Client information</h1> <br>
            <input type="text" name="clientCode" placeholder="Client Code" required><br>
            <input type="text" name="clientName" placeholder="Client Name" required><br>
            <input type="text" name="clientType" placeholder= "ClientType"><br>
            <input type="submit" value="Submit">
        </form>

        </div>
    </div>
</body>
</section>
