
<!---------------->
<!--Location Form-->
<!---------------->
<section>
<body>
    <div id="container">
        <div id="main">
            <form>
            <h1>Location information</h1> <br>
            <input type="text" name="address1" placeholder= "Address1"><br>
            <input type="text" name="address2" placeholder= "Address2"><br>
            <input type="text" name="city" placeholder= "City"><br>
            <input type="text" name="postalCode" placeholder= "Postal Code"><br>
            <input type="text" name="country" placeholder= "Country"><br>
            <input type="text" name="phoneNumber" placeholder= "Phone Number"><br>
            <input type="text" name="faxNumber" placeholder= "Fax Number"><br>
            <input type="text" name="client" placeholder= "Client"><br>
        </form>

        </div>
    </div>
</body>
</section>
