
<!---------------->
<!--Product Form-->
<!---------------->
<section>
<body>
    <div id="container">
        <div id="main">
            <form>
            <h1>Product information</h1> <br>
            <input type="text" name="productCode" placeholder="Product Code" required><br>
            <input type="text" name="productName" placeholder="Product Name" required><br>
            <input type="text" name="cellTech" placeholder= "Cell Technology"><br>
            <input type="text" name="cellManuf" placeholder= "Cell Manufacturer"><br>
            <input type="text" name="numCells" placeholder= "Number of Cells"><br>
            <input type="text" name="numCellsSeries" placeholder= "Number of Cells in Series"><br>
            <input type="text" name="numSeriesStrings" placeholder= "Number Series Strings"><br>
            <input type="text" name="numDiodes" placeholder= "Number of Diodes"><br>
            <input type="text" name="prodLength" placeholder= "Length"><br>
            <input type="text" name="prodWidth" placeholder= "Width"><br>
            <input type="text" name="superstrateType" placeholder= "Superstrate Type"><br>
            <input type="text" name="superstrateManuf" placeholder= "Superstrate Manufacturer"><br>
            <input type="text" name="substrateType" placeholder= "Substrate Type"><br>
            <input type="text" name="substrateManuf" placeholder= "Substrate Manufacturer"><br>
            <input type="text" name="frameType" placeholder= "Frame Type"><br>
            <input type="text" name="frameAdhesive" placeholder= "Frame Adhesive"><br>
            <input type="text" name="encapsulantType" placeholder= "Encapsulant Type"><br>
            <input type="text" name="encapsulantManuf" placeholder= "Encapsulant Manufacturer"><br>
            <input type="text" name="junctionBoxType" placeholder= "Junctionbox Type"><br>
            <input type="text" name="junctionBoxManuf" placeholder= "Junctionbox Manufacturer"><br>
            <input type="submit" value="Submit">
        </form>
        </div>
    </div>
</body>
</section>
