
<!---------------->
<!--Client Form-->
<!---------------->
<section>
<body>
    <div id="container">
        <div id="main">
            <form>
            <h1>Client information</h1> <br>
            <input type="text" name="certID" placeholder="Certificate ID" required><br>
            <input type="text" name="reportNum" placeholder="Report Number" required><br>
            <input type="text" name="issueDate" placeholder="Issue Date" ><br>
            <input type="text" name="testStandard" placeholder="Test Standard" ><br>
            <input type="text" name="location" placeholder="Location" ><br>
            <input type="text" name="modelNum" placeholder="Model Number" ><br>
            <input type="submit" value="Submit">
        </form>

        </div>
    </div>
</body>
</section>
